<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JRProjetCampagneDAL.Properties.Settings.GSBConnectionString"
            connectionString="Data Source=tcp:301P03,49172;Initial Catalog=GSB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JRProjetCampagneDAL.Properties.Settings.ConnectionString"
            connectionString="Data Source=tcp:301p03,49172;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>